body {
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-top: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.85);
}

.sidebar {
    background-color: rgba(255, 255, 255, 0);
    justify-content: baseline;
    padding: auto;
    align-items: center;
    width: 7%;
}

.sidebar button {
    background-color: rgba(255, 255, 255, 0);
    width: auto;
    height: auto;
    border: none;
    padding: auto;
}

.sidebar img {
    height: 30px;
    width: 30px;
    padding-top: 3px;
}

.search-bar {
    margin-left: 0;
    padding-left: 5px;
    display: flex;
    justify-content: baseline;
    width: 23%;
    border-radius: 20px;
    background-color: white;
    margin-right: auto;
}

.search-bar input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}


.search-bar button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#search {
    padding-top: 3px;
}

button:hover {
    cursor: pointer;
}

.search-bar img {
    height: 15px;
    width: 15px;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    margin-left: 0;
    color: gold;
    margin-right: auto;
}

.register {
    display: flex;
    width: 30%;
    justify-content: end;
    padding-right: 15px;

}

.register button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.register a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.login {
    margin-right: 10px;
}


.top {
    background-image: url(images/kate-spade-new-york-paddington-jewellery-store-26.06.24.jpg);
    width: 100%;
    height: 30vh;
    background-size: 100% 30vh;
    background-repeat: none;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 1px 5px black);
}

.company-name {
    background-color: transparent;
    color: gold;
    font-size: 25px;

}

.products {
    display: flex;

    align-items: center;
    background-color: gray;
    width: 100%;
    height: 60vh;

}

.product-buttons {
    display: flex;
    justify-self: baseline;
    align-items: center;
    width: 50%;
    padding-left: 10%;
    padding-bottom: 7%;
    padding-right: 10px;
}

#category {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

}

.product-image {
    display: flex;
    align-items: center;
    justify-self: end;
    width: 50%;
    padding-right: 20%;
    padding-bottom: 7%;

}

.prod-buttons {
    display: flex;
    flex-direction: column;
}

.prod-buttons button {
    width: 200px;
    height: 77px;
    border: none;

    margin: 2px;
}

.product-image img {
    width: 500px;
    height: 320px;
    margin: auto;
    transition: transform 0.5s ease-in-out;
    background-color: white;

}

#quote {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#popular {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    background: gray;
    margin-top: 0;
}

.popular-product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    height: 300px;
    border-style: groove;
    border-radius: 1px;
}

.popular-image {
    margin: 5px;

    height: 70%;
}

.popular-image img {
    width: 100%;
    height: 100%;


}

.popular-text {
    width: 100%;
    display: flex;
    text-align: center;
}

#popular-message {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: gray;
    text-align: center;
    font-size: 25px;
    height: 40px;
}