body {
    margin: 0;
    padding: 0;
    background-color: white;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.85);
}

.sidebar {
    background-color: rgba(255, 255, 255, 0);
    justify-content: baseline;
    align-items: center;
}

.sidebar button {
    background-color: rgba(255, 255, 255, 0);
    width: auto;
    height: auto;
    border: none;
    padding: auto;
    padding-right: 10px;
}

.sidebar img {
    height: 30px;
    width: 30px;
    padding-top: 3px;
}

.search-bar {
    margin-left: 0;
    padding-left: 5px;
    display: flex;
    justify-content: baseline;

    border-radius: 20px;
    background-color: white;

    margin-right: auto;
}

.search-bar input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}


.search-bar button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#search {
    padding-top: 3px;
}

button:hover {
    cursor: pointer;
}

.search-bar img {
    height: 15px;
    width: 15px;
}

.logo {
    left: 47.5%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    color: gold;
    margin-right: auto;
    font-size: 20px;
}

.logo img {
    width: 80px;
    height: 80xp;
}

.about-contact {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    margin-right: 10px;
    width: max-content;


}

.about-contact a {
    text-decoration: none;
}

.about-contact button {
    display: flex;
    align-items: center;
    border: none;
    font-size: 14px;
    background: rgba(255, 255, 255, 0);
    color: white;
}

.register {
    display: flex;

    justify-content: end;
    padding-right: 15px;

}

.register button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.register a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.login {
    margin-right: 10px;
}


.top {
    background-image: url(images/topimage.jpg);
    width: 100%;
    height: 50vh;
    background-size: 100% 50vh;

    background-repeat: no-repeat;
    margin-top: 0;
    display: flex;
    justify-content: end;
    align-items: flex-end;

    filter: drop-shadow(0px 1px 5px black);
    background-color: navy;
}

.top img {
    width: 150px;
    height: 150px;
}

.company-name {
    background-color: transparent;
    color: gold;
    font-size: 25px;

}


.products {
    display: flex;

    align-items: end;
    background-color: white;
    width: 100%;
    height: 40vh;

}

.product-buttons {
    display: flex;
    justify-self: baseline;
    height: 100%;
    width: 50%;
    padding-left: 15%;

    padding-right: 10px;
}

.product-buttons button:hover {
    transform: scale(1.0125);

}

#category {

    display: flex;
    justify-content: baseline;
    padding-left: 15%;
    align-items: center;
    font-size: 25px;
    height: 100px;
}

.product-image {
    display: flex;
    align-items: center;
    justify-self: end;
    width: 60%;
    margin-right: 20%;
    height: 100%;


}


.prod-buttons {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.prod-buttons button {
    width: 100%;
    height: 100%;
    border: none;

    margin: 2px;
}

.prod-buttons a {

    width: 200px;
    height: 25%;
    border: none;

    margin: 2px;

}

.product-image img {
    width: 100%;
    height: 100%;
    margin: auto;
    transition: opacity 0.1s ease-in;
    background-color: white;

}

#quote {
    margin-top: 25px;
    width: 100%;

    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
}

#quote p {
    padding-top: 20;
}

#popular {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    background: white;
    margin-top: 0;
}

.popular-product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    height: 300px;

    border-radius: 1px;
    background-color: white;
}

.popular-image {
    margin: 5px;

    height: 70%;
    border-radius: 30px;
}

.popular-image img {
    width: 100%;
    height: 100%;
    border-radius: 30px;

}

.popular-text {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

#popular-message {
    display: flex;
    justify-content: baseline;
    text-align: center;
    align-items: center;
    font-size: 40px;
    height: 50px;
    margin-top: 0;
    margin-left: 5%;

}

.prev-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.prev-next button {
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.prev-next button:hover {
    background: rgba(0, 0, 0, 0.8);
}

#slider {
    position: relative;
    width: 90%;
    height: 60vh;
    margin-left: 5%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: lightgray;
    margin-bottom: 5%;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;

}

.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.slide-image {
    display: flex;
    width: 100%;
    height: 70vh;
    background-color: black;
}

.slide-image img {
    width: 100%;
    height: 100%;
}

.slide .text {
    position: absolute;
    top: 50vh;
    justify-self: center;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
}

#brands {
    width: 100%;
    display: flex;

    flex-direction: column;
    object-fit: contain;
    margin-bottom: 5%;
}

.brand-type1 {
    position: relative;
    display: flex;
    justify-content: baseline;
    justify-self: baseline;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: white;


}

.brand-type2 {
    position: relative;
    display: flex;
    justify-content: end;
    justify-self: end;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;

}

.brand-image1 {
    position: relative;
    height: 100%;
    width: 30%;
    margin-left: 5%;
    box-shadow: -5px 0px 10px 5px darkgray;
}

.brand-image2 {
    position: relative;
    height: 100%;
    width: 30%;
    margin-right: 5%;
    box-shadow: 5px 0px 10px 5px darkgray;
}

.brand-image1 img {
    width: 100%;
    height: 100%;
}

.brand-image2 img {
    width: 100%;
    height: 100%;
}

.brand-text1 {
    position: absolute;
    display: flex;
    height: 60%;
    width: 30%;
    top: 20%;
    left: 30%;
    background-color: darkgray;
    flex-direction: column;
}

.brand-text2 {
    position: absolute;
    display: flex;
    height: 60%;
    width: 30%;
    top: 20%;
    right: 30%;
    background-color: darkgray;
    flex-direction: column;
}

.brand-text1 p {
    text-align: center;
    padding: 5px;
}

.brand-text2 p {
    text-align: center;
    padding: 5px;
}

.brand-logo {
    width: 80%;
    height: 40%;
    margin-left: 10%;
    padding-top: 5%;
    object-fit: cover;
}

.brand-logo img {
    width: 80%;
    height: 100%;

}

#brand-message {
    display: flex;
    justify-content: baseline;
    margin-left: 5%;
    text-align: center;
    font-size: 40px;
}







#footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.85);
    margin-bottom: 0;
    position: relative;

}

#footer-logo {
    width: 25%;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

#footer-logo img {
    width: 140px;
    height: 140px;
    padding-left: 5%;
}

#contacts {
    text-align: center;
    height: 100px;
    width: 50%;
}

#contacts .contact-p {
    margin: 5px;
    font-size: 18px;
    color: white;
}

#contacts h2 {
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
}

#copyright {
    font-size: 10px;
    color: rgba(255, 255, 255, .2);
}

#social-medias {
    width: 25%;
    display: flex;
    padding-top: 2%;
    flex-direction: column;


}

#social-medias img {
    width: 50px;
    height: 50px;
    padding-bottom: 5px;
    padding-left: 60%;

}

hr {
    width: 85%;

}

#at-quote {

    width: 60%;
}